{% extends "layout.html" %}
{% block title %}Registrarse{% endblock %}

{% block content %}
    <div class="container-sm text-center">
        <h1 class="display-3">Registrarse</h1>
        <p class="lead">Crea una cuenta para acceder a la app.</p>
        <hr>
        <form method="post" class="form">
            <div class="mb-3">
                <label for="username" class="form-label">Nombre de usuario</label>
                <input type="text" class="form-control" id="username" name="username" required minlength="5" maxlength="20">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" required minlength="8" maxlength="20">
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Registrarse</button>
        </form>
    </div>
{% endblock %}